<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Demande de confirmation</title>
  </head>
  <body>
    <div style='background-color: #f4f4f4; padding: 20px;'>
      <h2 style='color: #333333;'>Bonjour {{lastname}},</h2>
      <p style='color: #333333;'>Votre demande de creation de profile a ete
        prise en compte.</p>
      <p style='color: #333333;'>Veuillez accepter la confirmation avec ce code
        :
        {{code}}</p>
      <p style='color: #333333;'>Cordialement,</p>
      <p style='color: #333333;'>noreply@gmail.com</p>
    </div>
  </body>
</html>