<!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Donnees personnelles</title>
      </head>
      <body>
          <div style="background-color: #f4f4f4; padding: 20px;">
              <h2 style="color: #333333;">Bonjour {{lastname}},</h2>
              <p style="color: #333333;">Felecitatrions votre compte est cree avwec success.</p>
              <p style="color: #333333;">Nous allons vous attribuez un password que vous pouvez changer apres.</p>
              <p style="color: #333333;">Mais votre hash du profile c'est votre identite dans l'application.</p>
              <p style="color: #333333;">Votre password provisoire :{{password}}.</p>
              <p style="color: #333333;">Attention ! Le password n'est pas duplicable estv unique, veuillez le conserver !.  .</p>
              <p style="color: #333333;">Cordialement,</p>
              <p style="color: #333333;">noreply@gmail.com</p>
          </div>
      </body>
      </html>